[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=dwm-user
GenericName=Window Manager
Comment=Dynamic window manager for X (user configuration)
Exec=dwm-start
Terminal=false
TryExec=dwm-start

[Window Manager]
SessionManaged=true
